*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url(background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* animation: carMove linear 4s infinite; */
}
.trees{
    height: 100vh;
    top: -120px;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
}
.track{
    height: 60vh;
    width: 800vw;
    top: 70vh;
    background-image: url(track.png);
    
    position: absolute;
    background-repeat: repeat-x;
    animation: carMove linear 1s infinite;
}
.car{
    height: 100px;
    width: 400px;
    background-image: url(car_body.png);
    background-size: cover;
    position: absolute;
    left:444px;
    bottom:30vh;
    animation: shake linear 1s infinite
}

.wheelback img{
    width:59px;
    position: relative;
    top: 52px;
    left:56px;
    animation: wheelRotation linear 0.01s infinite; 
}
.wheelfront img{
    width:59px;
    position: relative;
    top: -10px;
    left:257px;
    animation: wheelRotation linear 0.01s infinite;
}

@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove {
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake {
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(2px);

    }
    100%{
        transform: translateY(-2px);
    }
}
